@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manjari);
  --font-mono: var(--font-manjari);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom, #f5f3ff 0%, #ffffff 50%, #fae8ff 100%);
  color: var(--foreground);
  font-family: var(--font-manjari), sans-serif;
  min-height: 100vh;
}
